<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <FileSharingAppClient.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>giggles</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>google.com</value>
            </setting>
            <setting name="Chatport" serializeAs="String">
                <value>2225</value>
            </setting>
            <setting name="Fileport" serializeAs="String">
                <value>1698</value>
            </setting>
        </FileSharingAppClient.Properties.Settings>
    </userSettings>
</configuration>