$url = "https://github.com/PCDS/FileSharingApp/zipball/master"
$output = "Releases\currentversion.zip"
$start_time = Get-Date
(New-Object System.Net.WebClient).DownloadFile($url, $output)

$url = "https://pcds.github.io/FileSharingApp/versioninfo.html"
$output = "Releases\currentversion.txt"

Add-Type -AssemblyName System.IO.Compression.FileSystem
function Unzip
{
    param([string]$zipfile, [string]$outpath)

    [System.IO.Compression.ZipFile]::ExtractToDirectory($zipfile, $outpath)
}

Unzip "Releases\currentversion.zip" "Releases\currentversion"

Remove-Item currentversion\PCDS*\Releases -Force -Recurse

Write-Output "Time taken: $((Get-Date).Subtract($start_time).Seconds) second(s)"