<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileSharingAppClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FileSharingAppClient.Client" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileSharingAppClient.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>New User</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
            <setting name="Chatport" serializeAs="String">
                <value>1986</value>
            </setting>
            <setting name="Fileport" serializeAs="String">
                <value>2255</value>
            </setting>
        </FileSharingAppClient.Properties.Settings>
        <FileSharingAppClient.Client>
            <setting name="Username" serializeAs="String">
                <value>New User</value>
            </setting>
        </FileSharingAppClient.Client>
    </userSettings>
</configuration>